body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #202124;
}
p {
  margin: 0;
}

.search-results {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 15px;
}

.result-item {
  margin-bottom: 40px;
}

.result-title {
  font-size: 18px;
  color: #1a0dab;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.3;
}

.result-title:hover {
  text-decoration: underline;
}

.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.result-text {
  font-size: 14px;
  color: #4d5156;
  line-height: 1.58;
}

.logo-name-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.name-link-wrapper {
  display: flex;
  flex-direction: column;
}
